body {
    background: linear-gradient(90deg, rgb(87, 86, 86), rgb(76, 75, 75))
}
header{
    color:rgb(238, 166, 229);
    background-color: magenta;
    font-size: 30px;
    font-weight: bold;
    font-family: monospace, 'Courier New', Courier, Verdana, Georgia;
    border: 5px solid rgb(255, 0, 111);
    text-align: center;
    margin: 13px auto;
    padding: 11px;
    height: 130px;
    width: 700px;
    border-radius: 40px;
    transition: ease-in-out 0.5s;
    letter-spacing: 2px;
    user-select: none;
}
header:hover{
    transform: scale(1.07);
}
.locker{
    color:rgb(75, 95, 99);
    background-color: rgb(56, 61, 61);
    font-size: 17px;
    font-weight: bold;
    font-family: monospace, 'Courier New', Courier, Verdana, Georgia;
    border: 5px solid rgb(202, 235, 236);
    text-align: left;
    margin: 100px;
    padding: 20px;
    border-radius: 41px;
    transition: ease-in-out 0.3s;
    letter-spacing: 3px;
    user-select: none;


}
.locker:hover{
    transform: scale(1.05);
}
.button{
    user-select: none;
    color:rgb(119, 214, 42);
    background: rgb(243, 82, 82);
    font-size: 17px;
    font-weight: bold;
    font-family: monospace, 'Courier New', Courier, Verdana, Georgia;
    border: 4px solid rgb(64, 125, 115);
    text-align: left;
    margin: 10px;
    padding: 10px;
    height: 50px;
    width: 100px;
    border-radius: 40px;
    transition: ease-in-out 0.3s;
}
.button:hover{
    transform: scale(11.05);
    background: rgb(247, 247, 127);
}
img{
    width: 509px;
    border-radius: 20px;
    transition: ease-in 0.3s;
}
img:hover{
    transform: scale(1.04);
}
.h1_t{
    text-align: center;
}


/* trj.css стиль проектів:) */